@model List<Balance>

@{
    ViewData["Title"] = "Баланс";
}

<h3>@ViewData["Title"]</h3>


<table class="table">
    <thead>
        <tr>
            <th>Лицевой счет</th>
            <th>Баланс</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                  @*   <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td> *@
                    <td>
                        @item.PersonalAccount
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    
                </tr>
            }
        }
    </tbody>
</table>
