@model IEnumerable<WebApplicationBalance.Models.PersonalAccount>

@{
    ViewData["Title"] = "Лицевой счет";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="CreatePersonalAccount">Создать новый лицевой счет</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
             <td>
                @Html.ActionLink("Edit", "EditPersonalAccount", item) |
                @Html.ActionLink("Delete", "DeletePersonalAccount", new { id = item.Id })
            </td> 
        </tr>
}
    </tbody>
</table>
